<h1>Here are your movie lists</h1>

<h2><%= link_to 'Create a New List', new_list_path  %></h2>


<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <%= cl_image_tag list.photo.key, media_lib_thumb %>
  <% end %>
</ul>
